<h1>Stupid coaching</h1>

<blockquote>
<p>
<% if @question.blank?%>
Sorry?!
<% else %>
<%= @question %>
<% end %>
</p>
<cite>You</cite>
</blockquote>

<blockquote>
<p><%= @answer %></p>
<cite> Coach </cite>
</blockquote>


<%= link_to "Ask a new question", :ask %> 
