<div class="container" class="text-align-center">
    
 <h1> Stupid Coaching</h1>

 <p>Ask a question</p>


 <form action="answer" data-turbo="false">
        <div class="input-user">
            <input type="text" name="question" class="form-control">
            <input type="submit" value="Ask" class="btn btn-primary">
        </div>
    </form>
</div>
